.body{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

 .background-img{
    padding-bottom: 50px;
    background-image: radial-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.8)),url(background-img.jpg);
    width: 100%;
    height: 100vh; 
    background-size: cover;
    background-position: center;
} 

.navbar{
    height: 10vh;  /*viewport height same as percentage of full screen */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 25vh;
    padding-right: 25vh;
}
.logo{       /*netflix-logo  */
    width: 14%;
}
.select-lang{
    width: 20vh;
    height: 5.5vh;
    border-radius: 5px;
    margin-left: 105vh;
    color: white;
    font-size: 2em;
    padding-left: 50px;
    font-weight: 250;
    background-color: rgba(0,0,0,0.4);
}
.sign-in{
    background-color: #e50914;
    color: white;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    width: 12vh;
    height: 5.5vh;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;      /*to change the cursor arrow into hand */
}

.hero-section{
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
.title-texts{
    width: 100%;
    color: white;
    text-align: center;
}
.text1{
    font-size: 6rem;
    font-weight: 900;
}
.text2{
    font-size: 3em;
    font-weight: 350;
}
.text3{
    font-size: 2.5em;
    font-weight: 350;
}
/* Email and get started box */

.email-box{
    width: 60vh;
    height: 9vh;
    font-size: 2em;
    padding-left: 30px;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.4);
}
.button-start{
    cursor: pointer;
    padding-bottom: 11px;
    margin-left: 10px;
    width: 34vh;
    height: 9vh;
    color: white;
    background-color: #e50914;
    font-size: 3.1em;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    border-radius: 10px;
    border: none;
    font-weight: 500;
}
.button-start:hover{
    width: 36vh;
    height: 11vh; 
}